@import "tailwindcss";

@theme{
    --color-primary: #0B0909;
    --color-secondary:#233D4D;
    --color-action: #FE7F2D;
}

@layer base {
  button, 
  select, 
  a, 
  [role="button"] {
    cursor: pointer;
  }
  
  button:disabled,
  select:disabled,
  [disabled] {
    cursor: not-allowed;
  }
}